*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
.pokedex-heading h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    
}
.pokedex-heading{
    text-decoration: none;
}